@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply cb-text-black-core/[0.87];
  }
}

@layer components {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s !important;
  }

  .cb-floating-input:-webkit-autofill,
  .cb-floating-input:-webkit-autofill:hover,
  .cb-floating-input:-webkit-autofill:focus,
  .cb-floating-input:-webkit-autofill:active {
    -webkit-text-fill-color: #000000 !important;
  }

  .cb-cta-section {
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .cb-cta-box-shadow {
    -webkit-appearance: none;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  }

  .cb-content > p {
    @apply cb-pb-8;
  }

  .cb-prose > * {
    @apply cb-text-lg md:cb-text-[1.1875rem] md:cb-leading-8;
  }

  .cb-gradient-text {
    @apply cb-bg-gradient-to-r cb-from-[#f2709c] cb-via-[#ff909c] cb-to-[#ff9472] cb-bg-clip-text cb-text-transparent;
  }

  .cb-hoverable-text:hover {
    @apply cb-bg-gradient-to-r cb-from-[#f2709c] cb-via-[#ff909c] cb-to-[#ff9472] cb-bg-clip-text cb-text-transparent;
  }

  .cb-gradient-border {
    border-image: linear-gradient(to bottom, #f2709c, #ff835b) 1;
  }

  .cb-gradient-border-btn {
    @apply cb-rounded-[0.6rem] cb-border cb-border-solid cb-border-transparent cb-bg-gradient-to-r cb-from-[#f2709c] cb-via-[#ff909c] cb-to-[#ff9472] cb-p-[1rem] cb-text-center cb-shadow-[inset_2px_1000px_1px_#fff] hover:cb-border hover:cb-border-solid hover:cb-border-transparent hover:cb-from-[#f2709c] hover:cb-to-[#ff9472] hover:cb-shadow-none active:cb-scale-[0.98];
  }

  .cb-gradient-border-btn > a > .fab {
    @apply cb-text-[#f2709c];
  }

  .cb-gradient-border-btn > span {
    @apply cb-mx-1.5 cb-my-0 cb-text-[#3d3d3d];
  }

  .cb-gradient-border-btn:hover > span,
  .cb-gradient-border-btn:hover > span > span {
    @apply cb-text-[#fff];
  }

  .cb-gradient-border-btn:hover > .fa,
  .cb-gradient-border-btn:hover > a > .fab,
  .cb-gradient-border-btn:hover > .arrow {
    @apply cb-text-white;
  }

  .cb-footer-icon > path,
  button:hover > div > .cb-footer-icon > path {
    fill: url("#lgrad");
  }

  .cb-gradient-border-btn:hover > a > .cb-footer-icon > path,
  button > div > .cb-footer-icon > path {
    fill: #ffffff;
  }

  ul {
    @apply cb-pl-4;
  }

  b,
  strong {
    @apply !cb-font-comme-medium cb-text-[1.0625rem] !cb-font-medium cb-tracking-[0.01em] !cb-text-black-core/[1] md:cb-text-[1.15625rem];
  }

  /* HighlightJS */
  /* Tomorrow Night Theme */
  /* https://jmblog.github.io/color-themes-for-google-code-highlightjs */
  /* Original theme - https://github.com/chriskempson/tomorrow-theme */
  /* https://jmblog.github.io/color-themes-for-google-code-highlightjs */

  pre .hljs-title.class_ {
    @apply cb-text-[#000000dd];
  }

  pre .hljs-title,
  pre .hljs-number {
    @apply cb-text-[#1c00cf];
  }

  pre .hljs-comment {
    @apply cb-text-[#007400];
  }

  pre .hljs-type {
    @apply cb-text-[#5c2699];
  }

  pre .hljs-variable {
    @apply cb-text-[#3F6E74];
  }

  pre .hljs-attr {
    @apply cb-text-[#836C28];
  }

  pre .hljs-regexp,
  pre .ruby .hljs-constant,
  pre .xml .hljs-tag .hljs-title,
  pre .xml .hljs-pi,
  pre .xml .hljs-doctype,
  pre .html .hljs-doctype,
  pre .css .id,
  pre .css .hljs-class,
  pre .css .hljs-pseudo {
    @apply cb-text-[#e49176];
  }

  pre .hljs-preprocessor,
  pre .hljs-built_in,
  pre .hljs-literal,
  pre .hljs-params,
  pre .hljs-constant {
    @apply cb-text-[#5c2699];
  }

  pre .hljs-class,
  pre .ruby .hljs-class .hljs-title,
  pre .css .hljs-rules .hljs-attribute {
    @apply cb-text-[#f0c674];
  }

  pre .hljs-string,
  pre .hljs-value,
  pre .hljs-inheritance,
  pre .hljs-header,
  pre .ruby .hljs-symbol,
  pre .xml .hljs-cdata {
    @apply cb-text-[#c41a16];
  }

  pre .css .hljs-hexcolor {
    @apply cb-text-[#8abeb7];
  }

  pre .hljs-function,
  pre .python .hljs-decorator,
  pre .python .hljs-title,
  pre .ruby .hljs-function .hljs-title,
  pre .ruby .hljs-title .hljs-keyword,
  pre .perl .hljs-sub,
  pre .javascript .hljs-title,
  pre .coffeescript .hljs-title {
    @apply cb-text-[#81a2be];
  }

  pre .hljs-keyword,
  pre .hljs-tag,
  pre .hljs-name,
  pre .hljs-attribute,
  pre .javascript .hljs-function {
    @apply cb-text-[#aa0d91];
  }

  pre .hljs-meta {
    @apply cb-text-[#643820];
  }

  code::before,
  code::after {
    @apply cb-content-none !important;
  }

  .cb-prose p {
    @apply cb-mb-0 cb-mt-7 cb-leading-[32px];
  }

  .cb-prose strong,
  .cb-prose b {
    @apply !cb-font-charter-bold !cb-text-xl !cb-text-[#000000dd];
  }

  .cb-prose figure h2 {
    @apply cb-mb-0 cb-mt-12 !cb-font-helvetica-bold cb-font-normal cb-leading-[1.25] !cb-tracking-wide;
  }

  .cb-prose figure h3 {
    @apply cb-mb-0 cb-mt-12 !cb-font-helvetica-regular cb-font-normal cb-leading-[1.25] !cb-tracking-wide !cb-text-[#6b6b6b];
  }

  .cb-prose h1,
  .cb-prose h1 strong {
    @apply -cb-mb-5 cb-mt-12 cb-font-helvetica-bold cb-text-[1.75rem] cb-leading-[1.25] md:cb-text-[2rem] cb-text-[#000000dd];
  }

  .cb-prose h2,
  .cb-prose h2 strong {
    @apply -cb-mb-5 cb-mt-12 cb-font-helvetica-bold cb-text-2xl cb-leading-[1.25] cb-tracking-[-0.04em] cb-text-[#000000dd];
  }

  .cb-prose h3,
  .cb-prose h4,
  .cb-prose h3 strong,
  .cb-prose h4 strong {
    @apply -cb-mb-5 cb-mt-12 cb-font-helvetica-bold cb-text-xl cb-leading-[1.25] cb-text-[#000000dd];
  }

  .cb-prose hr {
    @apply !cb-my-6;
  }

  .cb-prose h4 {
    @apply !cb-font-comme-semibold;
  }

  .cb-prose span a {
    @apply !cb-font-comme-regular cb-text-lg cb-tracking-[0.03rem] cb-text-blue-700;
  }

  .cb-prose blockquote ul {
    @apply !cb-pt-0;
  }

  .cb-prose :where(code, code strong, blockquote code):not(:where([class~="not-prose"])) {
    @apply cb-rounded cb-bg-[#F2F2F2] cb-px-1 cb-py-0.5 cb-font-source-codepro !cb-text-[15px] cb-font-normal cb-tracking-[-0.003em] cb-text-[#000000dd];
  }

  .cb-prose :where(pre):not(:where([class~="not-prose"] *)) {
    @apply !cb-my-8 lg:!cb-my-10 cb-rounded cb-border cb-border-solid cb-border-[#E5E5E5] cb-bg-[#F9F9F9] !cb-leading-normal;
  }

  .cb-prose :where(pre code):not(:where([class~="not-prose"] *)) {
    @apply !cb-break-normal cb-bg-transparent !cb-text-[15px] cb-leading-normal cb-tracking-[-0.022em] !cb-text-[#000000dd];
  }

  .cb-prose
    :where(blockquote, blockquote i):not(:where([class~="not-prose"] *)) {
    @apply cb-mt-6 !cb-font-charter-regular-italic cb-tracking-[-0.003em] !cb-text-[#000000bb];
  }

  .cb-prose :where(blockquote strong):not(:where([class~="not-prose"] *)) {
    @apply !cb-font-charter-bold-italic cb-tracking-[-0.003em] !cb-text-[#000000dd];
  }

  .cb-prose
    :where(blockquote p:first-of-type):not(
      :where([class~="not-prose"] *)
    )::before {
    @apply cb-content-none;
  }

  .cb-prose
    :where(ul, ol):not(
      :where([class~="cb-not-prose"], [class~="cb-not-prose"] *)
    ) {
    @apply !cb-my-0 !cb-pt-3 marker:cb-text-black-core;
  }

  .grecaptcha-badge {
    @apply cb-invisible;
  }

  .table-content ul li {
    @apply !cb-my-2 cb-font-helvetica-regular cb-text-[17px] cb-tracking-wide !cb-text-black-core/[0.80];
  }

  .raw-html-embed {
    @apply cb-mt-12;
  }
}
